* {
  margin: 0px;
  font-family: "Raleway", sans-serif;
  font-size: 1.3rem;
}

nav {
  background-color: #0e0e0e;
  height: 100px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  color: #ffffff;
}

.pagination-container {
  display: flex;
}

.icon {
  width: 32px;
  height: 32px;
}

.pagination-btn {
  background-color: black;
  border: none;
  border-radius: 50%;
  width: 32px;
  height: 32px;
  margin: 0px 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.logo {
  max-width: 300px;
}
.img-container {
  display: flex;
  justify-content: center;
}

.home-img {
  margin-top: 16px;
  max-width: 1750px;
}

.home-container {
  text-align: center;
  margin-top: 16px;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #EDEDED;
  padding: 30px 0px;
}

.searchbar {
  margin-left: 16px;
}

.searchbar-container {
  display: flex;
}

.searchbar-btn button {
  margin-left: 8px;
  background-color: #0e0e0e;
  border-radius: 8px;
  height: 100%;
  border: none;  
}

.pagination {
  margin-right: 16px;
}

.current-page {
  margin: 0px 20px;
}

a:link {
  text-decoration: none;
  color: black;
  font-weight: bolder;
}

a:visited {
  color: black;
}

a:hover{
  color: grey;
}


.launch-card {
  display: flex;
  box-shadow: 4px 4px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 8px;
  padding: 16px;
  margin: 8px;
}

.launch-path {
  padding: 0px 8px;
}

.patch-img {
  width: 200px;
  height: 200px;
}

.card-body {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 16px;
}

.card-description p{
  font-weight: 500;
}

.launches-grid {
  margin: auto;
  width: 75%;
  padding: 16px;
  display: grid;
  grid-template-columns: repeat(1, 3fr);
  grid-gap: 18px;
  padding: 10px;
  background-color: #FAFAFA;
}

.launch-link-container {
  text-align: center;
}

footer {
  left: 0px;
  width: 100%;
  background-color: #0e0e0e;
  margin-top: 8px;
  color: #ffffff;
  text-align: center;
  padding: 24px 0px;

}

footer p a {
  color: white;
}

footer p a:link {
  color: white;
}

footer p a:visited {
  color: white;
}

nav div a {
  color: white;
}

nav div a:link {
  color: white;
}

nav div a:visited {
  color: white;
}

@media screen and (max-width: 600px) {
  
  .patch-img {
    width: 150px;
    height: 150px;
  }
}

.navbar-link {
  margin-right: 16px;
}


.detail-launch-card {
  /* text-align: center; */
  display: flex;
}

.detail-info {
  margin: 0px 160px;
}

.container-detail-card {
  margin: 80px 0px; 
  display: flex;
  justify-content: center;
}